section.menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    background-color: var(--preto-transparente);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border-top: 5px solid var(--azul-claro);
    height: 80px;
}

.menu header {
    display: flex;
    align-items: center;
}

.menu__title--edi {
    color: var(--azul-claro);
    margin-left: 2rem;
}
.menu__title--projetos, .menu__title--sobremim {
    color: var(--azul-claro);
    margin-left: 2rem;
    display: none;
}

.menu nav a {
    display: flex;
    align-items: center;
    color: var(--branco-suave);
}

.menu__list {
    display: flex;
}

.menu__list__item {
    margin-right: 2rem;
}

@media (max-width: 768px) {

    section.menu {
        position: static;
        /* position: -webkit-sticky;
        top: 0; */
        /* flex-direction: column; */
        height: auto;
        flex-direction: column;
    }

    .menu__title--projetos, .menu__title--sobremim {
        display: block;
    }

    .menu__list .projetos, .menu__list .sobremim {
        display: none;
    }

    /* Menu */
    /* .menu__list__item:nth-child(-n + 6) {
        display: none;
    } */
}

@media (max-width: 412px) {
    section.menu {
        padding: 1rem;
    }

    section.menu header .menu__title--edi {
        margin-left: 0;
    }

    section.menu nav {
        width: 100%;
    }

    .menu__list {
        padding-left: 0;
        justify-content: space-around;
    }

    .menu__list__item {
        margin-right: 0;
    }
}