section.skills {
    width: 90%;
    margin: 0 auto;
    min-height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}

.skills__title {
    text-align: center;
    font-size: 2rem;
}

.skills__line {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills__box {
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    width: 176px;
    height: 174px;
    background-color: var(--branco);
    margin-top: 1.5rem;
}

.skills__name {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: left;
}

.skills__img {
    text-align: left;
}

.skills__img img[src*="linux"] {
    width: 32px;
    height: 30px;
}

.skills__img img[src*="others"] {
    width: 32px;
    height: 30px;
}
.skills__img img[src*="git.png"] {
    width: 32px;
    height: 30px;
}

.skills__img img[src*="http.png"] {
    width: 32px;
    height: 30px;
}
/*Tablet*/
@media (max-width: 768px) {

    section.skills {
        height: inherit;
    }

    .skills__line {
        justify-content: space-around;
    }

    .skills__box {
        width: 224px;
    }
}

/*Mobile*/
@media (max-width: 600px) {
    section.skills{
        height: inherit;
        padding-bottom: 1rem;
    }

    .skills__box {
        width: 40%;
        height: 118px;
    }
}