.tipoProjeto {
    text-align: center;
    padding: 2rem;
    background-color: #d9f7e9;
}

.tipoProjeto h3 {
    font-size: 2rem;
    border-bottom: 4px solid #57c278;
    display: inline-block;
    padding-bottom: .5rem;
}