.tipoProjeto {
    text-align: center;
    padding: 2rem;
    /* background-color: ; */
}

.tipoProjeto h3 {
    font-size: 2rem;
    /* border-bottom: 4px solid ; */
    display: inline-block;
    padding-bottom: .5rem;
}