.tipoProjeto {
    text-align: center;
    padding: 1rem 2rem;
    /* background-color: ; */
}

.tipoProjeto h3 {
    font-size: 2rem;
    /* border-bottom: 4px solid ; */
    display: inline-block;
    margin-top: 0;
    padding-bottom: .5rem;
}

.tipoProjeto .projetos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}