:root {
  /*Insira a variavel das outras cores inspecionando o modelo do figma*/
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --branco-suave: #F5F5F5;
  --branco: #fff;
  --cor-de-link: #464646;
  --azul-claro: #aceff9;
  --azul-escuro: #2A7AE4;
  --preto-transparente: rgba(18, 18, 18, .95);
  --cinza-escuro: #878787;
  --fundo-tela: #EDEDED;
  --fundo-formulario: #EAF2FD;
  --preto: #000;
  --fonte-peso-input: 300;
  --cor-primaria: #0071ea;
  --cor-secundaria: #d6eaff;
  --fonte-tamanho-input-label: 20px;
  --cor-primaria: #0071ea;
  --cor-contraste-claro: #fff;
  --fonte-tamanho-botao: 1.2rem;
  --vermelho-primario: #cd0000;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: var(--fundo-tela);
  font-family: 'Raleway';
  margin: 0;
  padding: 0;
  line-height: 1;
  color: var(--cor-de-link);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--cor-de-link);
}

input,
textarea,
button {
  border: none;
}

.btn {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: #000;
  text-decoration: none;
  border-radius: 50%;
}
.btn::after {
  content: "↑";
  font-size: 32px;
  font-weight: bold;
  color: aliceblue;
  transition: margin-top 250ms;
}
.btn:hover::after {
  margin-top:-8px;
}

@media (max-width: 768px) {

  html, body {
      scroll-behavior: smooth;
      
  }

  .btn {
      display: flex;
  }

}

@media (max-width: 412px) {

  .btn {
      z-index: 1;
      bottom: 40px;
      right: 25px;
  }
}